<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Test</title>
	</head>
	
	<body>
	
		<header>
			<h1 style="text-align: center; padding: 1%;">GRUPO 13</h1>
			<img alt="beneficio" src="../static/Images/beneficio.jpg" title="benef" style="width: 480px;">
		</header>	
	
		<nav>
			<ul>
				<a href="index.html">Inicio</a></br>
				<a href="Agenda.html">Agenda</a></br>
				<a href="Beneficios.html">Beneficios y becas</a></br>
				<a href="contacto.html">Contactanos </a></br>
			</ul>
		</nav>
		
		<section>
			<p>Pagina en construccion</p>
		</section>

		<hr>
		<footer>
			<p style="text-align: center;padding: 1%;"> 2022. Portal de Capacitacion - Av. Gral. Manuel Belgrano 789 - Telefono (388) 999999 S. S. de Jujuy Republica
Argentina. </p>
		</footer>	
		
	</body>
	
</html>