<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Contacto</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
		<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	</head>
	<body>
	
		
	    <header th:replace="/layout/header::header"></header>
		
		<div class="container">
		
		</br>
		<section>
			<div>
        <form >
            <br>
            <br>
            Nombre y Apellido: <input type="text"
            name="firstname" id="NyA"/> <br> <br>
            <div class="mb-3"> 
                      <label for="exampleInputPassword1" class="form-label">Provincia</label>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione</option>
                        <option value="1">Jujuy</option>
                        <option value="2">Mendosa</option>
                        <option value="3">Chaco</option>
                        <option value="4">Santa Fe</option>
                        <option value="5">Misiones</option>
                        <option value="6">Corrientes</option>
                        <option value="7">Buenos Aires</option>
                        <option value="8">Salta</option>
                      </select>
                    </div>
            <br>
            Telefono: <input type="number"
            name="Telefono" id="Telefono"/> <br> <br>
           	Correo electronico: <input type="email"
            name="Correo electronico" id="CorreoElectronico"/> <br> <br>
            </select>
           	Estado Civil: </br><input type="radio" name="sex" value="male" id="EstCi"/> Soltero
             </br><input type="radio" name="sex" value="female" /> Casado</br><input type="radio" name="sex" value="female" /> Otro </br>     
       		<p> Mensaje: </p>  
			<textarea class="form-control" id="Mensaje" rows="3"></textarea></br>        
            <input type="submit" value="Enviar datos" id="Botton"></input><br>
          </form>
    	</div>
		</section>
		</div>
		
		<hr>
		
		<footer th:replace="/layout/footer::footer"></footer> 
		 	
	</body>
	
</html>

