<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Test</title>
	</head>
	
	<body>
	
		<header>
			<h1 style="text-align: center; padding: 1%;">GRUPO 13</h1>
			<img alt="contacto" src="../static/Images/contacto.jpg" title="cont" style="width: 480px;">
		</header>
	
		<nav>
			<ul>
				<a href="index.html">Inicio</a></br>
				<a href="Agenda.html">Agenda</a></br>
				<a href="Beneficios.html">Beneficios y becas</a></br>
				<a href="contacto.html">Contactanos </a></br>
				
			</ul>
		</nav>
		</br>
		<section>
			<div>
        <form >
            <br>
            <br>
            Nombre y Apellido: <input type="text"
            name="firstname" id="NyA"/> <br> <br>
            <div class="mb-3"> 
                      <label for="exampleInputPassword1" class="form-label">Provincia</label>
                      <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione</option>
                        <option value="1">Jujuy</option>
                        <option value="2">Mendosa</option>
                        <option value="3">Chaco</option>
                        <option value="4">Santa Fe</option>
                        <option value="5">Misiones</option>
                        <option value="6">Corrientes</option>
                        <option value="7">Buenos Aires</option>
                        <option value="8">Salta</option>
                      </select>
                    </div>
            <br>
            Telefono: <input type="number"
            name="Telefono" id="Telefono"/> <br> <br>
           	Correo electronico: <input type="email"
            name="Correo electronico" id="CorreoElectronico"/> <br> <br>
            </select>
           	Estado Civil: </br><input type="radio" name="sex" value="male" id="EstCi"/> Soltero
             </br><input type="radio" name="sex" value="female" /> Casado</br><input type="radio" name="sex" value="female" /> Otro </br>     
       		<p> Mensaje: </p>  
			<textarea class="form-control" id="Mensaje" rows="3"></textarea></br>        
            <input type="submit" value="Enviar datos" id="Botton"></input><br>
          </form>
    	</div>
		</section>
		<hr>
		<footer>
			<p style="text-align: center;padding: 1%;"> 2022. Portal de Capacitacion - Av. Gral. Manuel Belgrano 789 - Telefono (388) 999999 S. S. de Jujuy Republica
Argentina. </p>
		</footer>		
	</body>
	
</html>

