<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Test</title>
	</head>
	
	<body>
	
		<header>
			<h1 style="text-align: center; padding: 1%;">MARKETING</h1>
			<img alt="marketing" src="../static/Images/marketing.jpg" title="mrkt" style="width: 480px;">
		</header>
	
		<nav>
			<ul>
				<a href="index.html">Inicio</a></br>
				<a href="Agenda.html">Agenda</a></br>
				<a href="Beneficios.html">Beneficios y becas</a></br>
				<a href="contacto.html">Contactanos </a></br>
			</ul>
		</nav>
		</br>
		<section>
			<table border="1">
				<legend>Programacion Visual</legend>
				<tbody style="text-align: center;padding: 1%;">
				    <tr>
				      <td>Fecha Inicio</td>
				      <td>Horario</td>			
				      <td>Fecha Fin</td>
				      <td>Modalidad</td>		
				      <td>Docente</td>
				      <td>Duraciond de Semanas</td>
				    </tr>
				    <tr>
				      <td>30/03/22</td>
				      <td>15:30 - 18:00</td>			
				      <td>29/07/22</td>
				      <td>Presencial-Virtual</td>		
				      <td>Ing. Ariel Vega </td>
				      <td>16 Semanas</td>
				    </tr>
				</tbody>
			</table>
		</section>
		<hr>
		<footer style="text-align: center" >
			<p> 2022. Portal de Capacitacion - Av. Gral. Manuel Belgrano 789 - Telefono (388) 999999 S. S. de Jujuy Republica
Argentina. </p>
		</footer>		
	</body>
	
</html>

<!-- PRUEBA COMMIT AND PUSH